*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.options-cont{
    height: 4rem;
    width: 3.5rem;
    background-color: #f1f2f6;
    position: absolute;
    top: 2rem;
    left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.scale-tools{
    animation-name: scale-tools;
    animation-duration: 1s;
}
@keyframes scale-tools {
    0%{
        transform: scale(0.2);
    }
    100%{
        transform: scale(1);
    }
}
.tools-cont> * {
    display: block;
    width: 4rem;
}
.tools-cont{
    display: none;
    height: 5rem;
    width: 55vw;
    background-color: #f1f2f6;
    justify-content: space-around;
    position: absolute;
    top: 2rem;
    left: 25vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.pencil-tool-cont{
    height: 5rem;
    width: 6.5rem;
    position: absolute;
    top: 7rem;
    left: 25vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 3px;
    display: none;

}
.pencil-width-cont{
    background-color: #f1f2f6;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pencil-width-cont input{
    width: 80%;
}
.pencil-color-cont{
    background-color:#f1f2f6;
    height: calc(100% - 2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.pencil-color{
    width: 1.3rem;
    height: 1.7rem;
    border-radius: 50%;
}
.black{
    background-color: black;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.eraser-tool-cont{
    height: 2rem;
    width: 6rem;
    background-color: #f1f2f6;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 7rem;
    left: 33vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 3px; 
}
.eraser-tool-cont input{
    width: 80%;
}
.sticky-cont{
    height: 15rem;
    width: 15rem;
    position: absolute;
    top: 18rem;
    left: 15rem;
}
.sticky-header-cont{
    height: 2rem;
    background-color: #e3e3e6;
    border-bottom: 2px solid rgb(219, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    align-items: center;
}
.sticky-header-cont > *{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
}
.sticky-minimize{
    background-color: rgb(78, 248, 72);
}
.sticky-close{
    background-color: #eb4d4b;
    margin-right: 0.2rem;
}
.sticky-note-cont{
    height: calc(100% - 2rem);
    background-color: #e3e3e6;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
textarea{
    height: 100%;
    width: 100%;
    border: none;
    resize: none;
    outline: none;
}
.sticky-note-cont img{
    width: 100%;
    height: 100%;
}